html, body {
    box-sizing: border-box;
    height: 100%;
    font-family: Roboto, sans-serif;
    margin: 0px;  
}

/*This is section-01*/

.section-01,
.footer {
    background-color: #1f2937;
}

.section-01 {
    height: 520px;
    padding: 8px 200px 16px 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-grow: 1;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit
}

.left-links,
.header-text /*from section-04*/{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

.right-links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    gap: 24px;
}

.hero-sec-text, 
.image-info,
.right-links {
    font-size: 18px;
    color: #E5E7Eb;
    filter: contrast(50%);
}

.hero-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 700;
}

.hero-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
    
}

.button {
    font-size: 18px;
    color: #E5E7Eb;
    background-color: #3882f6;
    font-weight: bold;
    height: 36px;
    width: 130px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.right-side {
    box-sizing: border-box;
    width: 500px;
    height: 250px;
    background-color: #848a99d3;
    display: flex;
    flex-flow: row-nowrap;
    justify-content: center;
    align-items: center;
}

.left-side {
    box-sizing: border-box;
    display: flex;
    width: 500px;
    height: 250px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0px;
    padding-right: 40px;
    flex-grow: 1;
}

p,
h1 {
    margin: 0;
    padding: 0;
}

/*This is section-02*/

.section-02 {
    height: 500px;
    padding: 0px 200px 0px 200px;
    background-color: white;
}

h3,
.subtext,
.section-03 {
    color: #1f2937;
}

h3 {
    font-size: 36px;
    font-weight: 900;
    text-align: center;
    padding-bottom: 16px;
    padding-top: 16px;
}

.squares-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 50px; 
}

.image {
    width: 170px;
    height: 170px;
    background-color: white;
    border: 4px solid  #3882f6;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
}

.subtext {
    width: 170px;
    text-align: center;
    padding-top: 8px;
    font-size: 18px;
    filter:contrast(50%)
}

/*This is section-03*/

.section-03 {
    background-color: #E5E7Eb;
    font-size: 36px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-03 p {
    width: 790px;
    margin: 0 auto;
}

.quote {
    font-style: italic;
}

.credits {
    font-size: 24px;
    font-weight: 700;
    font-style: bold;
    text-align: right;
}

/*This is section-04*/

.section-04 {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-container {
    background-color: #3882f6;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0;
    padding: 30px;
    width: 1000px;
    height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

/*for header-text declarations see section-01*/

.sub-text,
.footer {
    color: white;
    font-size: 18px;
}

.sub-text,
.footer p {
    filter:opacity(75%)
}

.blue-container .button {
    border: 2px solid  white;
    color: white;
    height: 36px;
    width: 130px;
    border-radius: 10px;
}

/*This is the footer*/

.footer {
    height: 100px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}